<footer class="page-footer text-white bg-dark font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">wallE Wallet Inc.</h5>
        <p>01 Second Avenue, Third City, Fourth State, Fifthilian.</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Policy</h5>

        <ul class="list-unstyled">
          <li>
            <a class="nav-link text-white" href="#!">Returning</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Changing</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Q&A</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Terms</h5>

        <ul class="list-unstyled">
          <li>
            <a class="nav-link text-white" href="#!">Goods Insurance</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Commercial License</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Forum</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright: wallE Wallet Inc.
  </div>
</footer>
